.MainServices{
    max-width: 1252px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.MainServicestitle{
    text-transform: uppercase;
    text-align:center;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin: 40px 0 50px;
}

.GiftCardInfo {
   color: #979899;
   text-align:center;
}